@page
@model Hilton_Hotels.Pages.Administration.AdministrationModel
@{
}
<article>
    <table>
        <thead>
            <tr>
                <th>
                    <label asp-for="Rooms.First().ID"></label>
                </th>
                <th>
                    <label asp-for="Rooms.First().Type"></label>
                </th>
                <th>
                    <label asp-for="Rooms.First().Price"></label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var room in Model.Rooms){
                <tr>
                    <td>
                        @room.ID
                    </td>
                    <td>
                        @room.Type
                    </td>
                    <td>
                        @room.Price
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-route-id=room.ID></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</article>
